<div layout-md="column" ng-controller="AppController" layout-fill flex="95">
  <div flex>
    <a ui-sref="store"><md-button class="md-raised md-primary">
      Terug
    </md-button></a>
  </div>
    <irisloader-loading></irisloader-loading>
    <md-content class="md-padding" layout="column" layout="row">
      <md-card>
        <div layout="row" flex-offset="5">
          <h2>{{app.Label}}</h2>
        </div>
        <md-card-title>
          <!-- <md-card-title-media> -->
            <div flex="30" layout="column">
              <div>
                <img ng-src="assets/img/img_holder_medium_{{x | randNum}}.jpg" class="md-card-image" alt="{{app.Label}}">
              </div>
              <ratingstars amount="5" height="24"></ratingstars>
            </div>
          <!-- <md-card-title-media> -->
          <md-card-title-text flex-offset="5">
            <span class="md-headline">{{app.Description}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="row">
            <span flex="80">Reviews (2)</span>
            <span>Version:<md-input-container>
                <md-input-container>
                <md-select  ng-model="versies" ng-change="loadReview()" placeholder="Select a version">
                  <md-option ng-value="{{version.ID}}" ng-repeat="version in versions">{{version.Status}}</md-option>
                </md-select>
              </md-input-container>
            </span>
          </div>
          <div layout="column">
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="review in reviews">
                   <img ng-src="/assets/img/wooman.png" class="md-avatar" />
                   <div class="md-list-item-text" layout="column">
                     <p>{{review.ReviewContent}}</p>
                      <ratingstars amount="2" height="15"></ratingstars>
                   </div>
                </md-list-item>
              <md-list>
          </div>
        </md-card-content>
      <md-card>
    </md-content>
</div>