<div ng-controller="PageController" flex="95">
  <div>
    <h1 class="md-display-2">Apps</h1>
  </div>
  <md-grid-list flex="100">
    <irisloader-loading></irisloader-loading>
    <md-card ng-model="apps" ng-repeat="app in apps" ng-click="stateApp(app.ID)" flex="150">
      <md-card-header>
        <md-card-title-media>
          <img ng-src="assets/img/img_holder_small_{{x | randNum}}.jpg" class="md-media-lg card-media" alt="{{app.Label}}">
        </md-card-title-media>
         <md-card-title-text style="word-wrap: break-word; width: 200px;">
           <span class="md-title">{{app.Label}}</span><br/>
           <span class="md-subhead">{{app.Description}}</span>
           <span class="md-subhead" layout="row" layout-align="start end">
             <div class="rating">
               <ratingstars amount="5" height="24"></ratingstars>
             </div>
           </span>
         </md-card-title-text>
      </md-card-header>
    </md-card>
  </md-grid-list>
</div>



<!-- <div class="cardcontainer">
  <ul ng-repeat="app in apps" ng-click="stateApp(app.ID)">
    <li><storeviewcard app=app/></li>
  </ul>
</div> -->





<!-- <p><a class="btn btn-primary btn-lg" ui-sref="appnew">Nieuwe App</a></p> -->
