<div class="well page" ng-controller="AddAppController">
    <h1>Nieuwe App Toevoegen</h1>

    <form ng-submit="addApp()">

        <input placeholder="Label" type="text" ng-model="form.Label" class="form-control" />
        <input placeholder="Description" type="text" ng-model="form.Description" class="form-control" />

        <p>
            <input class="btn btn-primary btn-lg" type="submit" value="Toevoegen" />
            <a class="btn btn-primary btn-lg" ui-sref="apps">Terug</a>
        </p>
    </form>
</div>
