
<div class="well page" ng-controller="PageController">
    <h1>Apps</h1>
    <irisloader-loading></irisloader-loading>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="app in apps" ng-click="stateApp(app.id)">
                <td>{{app.id}}</td>
                <td>{{app.title}}</td>
            </tr>
        </tbody>
    </table>
</div>
