#CategoryList > ul {
  list-style: none;
  padding-left: 10px;
}
#CategoryList > ul li {
  margin-bottom: 15px;
  cursor: pointer;
}
#CategoryList > ul li.active {
  color: #3f51b5;
}
.button-clear {
  color: red;
  cursor: pointer;
}
.md-app-avatar {
  width: 150px;
  height: 150px;
}
md-card {
  cursor: pointer;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner-color {
  background-color: #6fed5e;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ratingstar-24 {
  width: 24px;
  height: 24px !important;
}
.ratingstar-15 {
  width: 15px;
  height: 15px;
}
